<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trainning reactjs</title>
    <script crossorigin src="lib/react.production.min.js"></script>
    <script crossorigin src="lib/react-dom.production.min.js"></script>
    <script src="lib/browser.min.js"></script>
</head>
<style>
.yellow {background-color: yellow}
.green {background-color: greenyellow}
</style>
<body>
    <div id="root"></div>
    <hr/>
    <div id="root2"></div>
    <script src="xuly.js" type="text/babel"></script>
</body>
</html>